ENVIRONMENT=dev
FRONTEND_ID=frontend1
BACKEND_ID=api1

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_SSL=false

KEY_VAULT_URL=https://kv-bff-np-eus.vault.azure.net/
OAUTH_CLIENT_ID_SECRET_NAME=oauth-client-id
OAUTH_CLIENT_SECRET_SECRET_NAME=oauth-client-secret

OAUTH_TOKEN_URL=https://login.microsoftonline.com/<tenant-id>/oauth2/v2.0/token
OAUTH_SCOPE=api://<app-id>/.default

TOKEN_CACHE_ENABLED=true
TOKEN_TTL_SAFETY_BUFFER_SECONDS=60
